.header {
    transition: transform 400ms ease;
    will-change: transform;
}

.headerHidden {
    transform: translate3d(0, -100px, 0);
}

.headerVisible {
    transform: translate3d(0, 0, 0);
}

.dropdown {
    left: 50% !important;
    transform: translateX(-49%) !important;
    margin-top: 12px !important;
}